.familyContainer {
  .profileHeading {
    display: flex;
    text-align: center;
  }
  h5 {
    padding: 0px 8px 8px 8px;
    width: 50%;
  }
  .orangeBottomBorder {
    border-bottom: 1px solid #ff7f32;
  }

}
